button {
  outline: none;
  cursor: pointer;
  font-weight: 700; }

header {
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 45vh;
  width: 100%; }
  header .hero-img-mobile {
    display: none; }

nav {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }
  nav .ham-img,
  nav .close-img {
    display: none; }
  nav .anchor-links .nav-links {
    padding: 0 0.5rem; }

@media screen and (max-width: 502px) {
  header {
    position: relative;
    background-image: url("./images/image-hero-mobile.jpg");
    background-position: center top;
    background-size: cover; }
  nav {
    z-index: 100;
    padding: 1.5rem; }
    nav .logo-icons {
      display: flex;
      align-items: center; }
      nav .logo-icons .icons {
        position: absolute;
        right: 25px; }
        nav .logo-icons .icons .ham-img {
          display: block; }
        nav .logo-icons .icons .show-icon {
          display: block; }
        nav .logo-icons .icons:hover {
          cursor: pointer; }
    nav .anchor-links {
      position: absolute;
      background-color: #fff;
      top: 20%;
      left: 50%;
      width: 80%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      opacity: 0;
      transition: all 500ms ease; }
      nav .anchor-links.show-links {
        opacity: 1; }
      nav .anchor-links .nav-links {
        color: #000;
        padding: 1.2rem;
        font-weight: 700; }
        nav .anchor-links .nav-links:not(:last-child) {
          border-bottom: 1px solid #e6e6e6; } }

*,
*::after,
*::before {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.company-title-section {
  position: relative; }
  .company-title-section__logo-div {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translate(-50%); }
  .company-title-section__header {
    margin-top: 2.5rem;
    text-align: center; }
    .company-title-section__header--primary-heading {
      font-size: 2.5rem; }
    .company-title-section__header--primary-text {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #7a7a7a; }
  .company-title-section__btns {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .company-title-section__btns--btn1 {
      padding: 1.8rem 4rem;
      background-color: #3cb4ac;
      border: none;
      border-radius: 2.5rem;
      color: #fff; }
      .company-title-section__btns--btn1:hover {
        background-color: #147b74; }
    .company-title-section__btns--btn2 {
      display: inline-flex;
      align-items: center;
      gap: 1.5rem;
      border: none;
      padding: 0 2rem 0 0;
      border-radius: 2.4rem; }
      .company-title-section__btns--btn2 svg g circle:hover {
        fill: #7a7a7a; }
      .company-title-section__btns--btn2.active-btn {
        font-weight: 700;
        color: #147b74; }
        .company-title-section__btns--btn2.active-btn svg g circle {
          fill: #147b74; }
        .company-title-section__btns--btn2.active-btn svg g path {
          fill: white; }

@media screen and (max-width: 550px) {
  .company-title-section__header--primary-heading {
    font-size: 2rem; }
  .company-title-section__header--primary-text {
    font-size: 1.2rem; }
  .company-title-section .company-title-section__btns--btn1 {
    padding: 1.8rem 5rem; }
  .company-title-section .company-title-section__btns--btn2 {
    overflow: hidden;
    padding: 0; }
  .company-title-section .company-title-section__btns .button-text {
    display: none; } }

.funds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem; }
  .funds__header:not(:last-child) {
    border-right: 1px solid #e0e0e0; }
  .funds__header:not(:first-child) {
    padding-left: 3rem; }
  .funds__header {
    width: 70%; }
    .funds__header--section-heading {
      font-weight: 700;
      font-size: 2.8rem; }
    .funds__header--text {
      margin-top: 1rem;
      color: #7a7a7a;
      font-size: 1.4rem; }
  .funds__range {
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden; }
    .funds__range--active {
      border-radius: inherit;
      height: 10px;
      width: calc(100% - (100% - 69%));
      background-color: #3cb4ac; }

@media screen and (max-width: 635px) {
  .funds {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .funds__header:not(:first-child) {
      padding-left: 0; }
    .funds__header:not(:last-child) {
      border-right: none; }
    .funds__header:not(:last-child)::after {
      content: '';
      height: 1px;
      width: 35%;
      position: absolute;
      top: 85px;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e0e0e0; }
    .funds__header {
      text-align: center;
      margin-top: 1rem;
      position: relative; }
      .funds__header--section-heading {
        font-size: 3rem; }
      .funds__header--text {
        margin-bottom: 2rem;
        font-size: 1.5rem; } }

.pledge-section__products {
  border: 1px solid #e0e0e0;
  padding: 3rem;
  border-radius: 8px;
  margin-top: 2rem; }

.pledge-section .col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.row-3 {
  opacity: 0.5;
  pointer-events: none; }
  .row-3 .btn-opacity {
    background-color: #7a7a7a; }

@media screen and (max-width: 550px) {
  .pledge-section__products {
    padding: 1.8rem; }
  .pledge-section .col {
    flex-direction: column; } }

.modal__logo-box {
  text-align: right;
  cursor: pointer; }

.modal__close-img {
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 2rem; }

.modal__header {
  font-size: 2.2rem !important; }

.modal__radio {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.modal__column {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 2rem; }
  .modal__column.active {
    border-color: #3cb4ac; }
    .modal__column.active .modal__radio::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: inherit;
      background-color: #3cb4ac; }
    .modal__column.active .modal__bottom {
      display: block; }

.modal .flex {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1; }

.modal .modal-paragraph {
  margin-left: 3.7rem !important;
  font-size: 1.5rem; }

.modal__top {
  padding: 3rem;
  position: relative; }

.modal__heading:hover {
  color: #3cb4ac;
  cursor: pointer; }

.modal__bottom {
  padding: 2rem;
  border-top: 1px solid #e0e0e0;
  display: none; }

.modal .submit-form {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.modal .btn-align {
  text-align: right; }

.modal__sub-heading {
  font-size: 1.8rem !important; }

.modal__btn {
  padding: 1.4rem 1rem !important;
  width: 100px !important; }

.modal__text {
  color: #7a7a7a;
  font-size: 1.5rem; }

.modal__form {
  display: inline-block;
  position: relative; }

.modal__input {
  width: 100px;
  border-radius: 2.5rem;
  border: 1px solid #e0e0e0;
  padding: 0 3.2rem 0 3.2rem;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem; }

.modal__form::before {
  content: '$';
  position: absolute;
  color: #adadad;
  top: 26%;
  left: 2rem;
  font-weight: 700; }

.modal__input:hover, .modal__input:focus {
  border-color: #3cb4ac;
  outline: none;
  cursor: pointer; }

.modal__inner {
  display: flex;
  margin-bottom: 2rem;
  gap: 15px; }

.modal .disabled {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 550px) {
  .modal__inner {
    align-items: center; }
  .modal .flex {
    flex-direction: column;
    align-items: flex-start; }
  .modal__sub-heading {
    position: absolute !important;
    left: 33px;
    bottom: 3px;
    display: none; }
  .modal .modal-paragraph {
    margin-left: 0 !important; }
  .modal__input {
    height: 40px; }
  .modal__bottom {
    padding: 2rem 1rem; }
  .submit-form {
    flex-direction: column;
    gap: 20px; } }

.thanku-modal__content {
  width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  height: auto; }

.thanku-modal__checkImg {
  display: inline-block;
  margin-bottom: 2rem; }

.thanku-modal__header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.thanku-modal__paragraph {
  color: #7a7a7a;
  line-height: 30px;
  margin-bottom: 2rem; }

@media screen and (max-width: 663px) {
  .thanku-modal {
    width: 100%;
    padding: 0 2rem; } }

@media screen and (max-width: 500px) {
  .thanku-modal__content {
    padding: 2rem; }
  .thanku-modal__header {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
  .thanku-modal__paragraph {
    color: #7a7a7a;
    line-height: 22px;
    margin-bottom: 2rem; } }

.main-container {
  width: 80rem;
  margin: 0 auto;
  position: relative;
  top: -10rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px; }

.section-center {
  padding: 5rem;
  border-radius: 1rem;
  background-color: #fff; }

.fund-tracking {
  background-color: #fff; }

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .modal-container__show-modal {
    opacity: 1;
    visibility: visible; }

.modal {
  width: 750px;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90vh;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #fff; }

.modal::-webkit-scrollbar {
  display: none; }

.thanku-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .thanku-modal__show-check-modal {
    opacity: 1;
    visibility: visible; }

.heading-secondry {
  font-weight: 700;
  font-size: 2.5rem; }

.paragraph {
  color: #7a7a7a;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.65rem;
  line-height: 28px;
  text-align: left; }

.heading-primary {
  font-size: 2rem;
  font-weight: 700; }

.heading-secondry {
  font-weight: 700;
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px; }

.span {
  font-size: 1.4rem;
  color: #7a7a7a;
  font-weight: 400; }

.min-pledge-amount {
  font-weight: 700;
  color: #3cb4ac;
  font-size: 1.5rem; }

.btn-secondry {
  padding: 1.7rem 1.5rem;
  width: 150px;
  background-color: #3cb4ac;
  border: none;
  border-radius: 2.5rem;
  color: #fff;
  font-family: "Commissioner", sans-serif; }
  .btn-secondry:hover {
    background-color: #147b74; }

@media screen and (max-width: 810px) {
  .main-container {
    width: 100%; }
  .section-center {
    padding: 3rem; }
  .modal {
    width: 90vw; } }

@media screen and (max-width: 550px) {
  .paragraph {
    font-size: 1.3rem;
    line-height: 22px; }
  .heading-primary {
    font-size: 1.5rem !important; }
  .heading-secondry {
    margin-bottom: 1.5rem; }
  .min-pledge-amount {
    font-size: 1.2rem; }
  .btn-secondry {
    width: 100px;
    padding: 1.3rem;
    font-size: 1rem; } }

body {
  max-width: 1440px;
  min-width: 376px;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  background-color: #f7f7f7; }

html {
  font-size: 62.5%; }
