.pledge-section {


    &__products {
        border: 1px solid hsl(0, 0%, 88%);
        padding: 3rem;
        border-radius: 8px;
        margin-top: 2rem;
    }

    .col {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

    }


    .row-3 {
        opacity: 0.5;

        .btn-opacity {
            background-color: hsl(0, 0%, 48%);

        }
    }

}

@media screen and (max-width:550px) {

    .pledge-section {

        &__products {
            padding: 1.8rem;
        }

        .col {
            flex-direction: column;


        }
    }

}