.modal {


    &__logo-box {
        text-align: right;
        cursor: pointer;

    }

    &__close-img {
        display: inline-block;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }


    &__header {
        font-size: 2.2rem !important;

    }

    &__radio {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $Dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__column {
        border: 1px solid hsl(0, 0%, 88%);
        border-radius: 8px;
        margin-top: 2rem;


        &.active {
            border-color: $Moderate-cyan;

            .modal__radio::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: inherit;
                background-color: $Moderate-cyan;

            }

            .modal__bottom {
                display: block;
            }

        }

    }

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-grow: 1;

    }



    .modal-paragraph {
        margin-left: 3.7rem !important;
        font-size: 1.5rem;
    }

    &__top {
        padding: 3rem;
        position: relative;

    }




    &__heading:hover {
        color: $Moderate-cyan;
        cursor: pointer;
    }

    &__bottom {
        padding: 2rem;
        border-top: 1px solid hsl(0, 0%, 88%);
        display: none;

    }

    .submit-form {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .btn-align {
        text-align: right;

    }


    &__sub-heading {
        font-size: 1.8rem !important;


    }

    &__btn {
        padding: 1.4rem 1rem !important;
        width: 100px !important;

    }

    &__text {
        color: $Dark-gray;
        font-size: 1.5rem;


    }

    &__form {
        display: inline-block;
        position: relative;
    }

    &__input {
        width: 100px;
        border-radius: 2.5rem;
        border: 1px solid hsl(0, 0%, 88%);
        padding: 0 3.2rem 0 3.2rem;
        height: 45px;
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 1rem;
    }

    &__form::before {
        content: '$';
        position: absolute;
        color: hsl(0, 0%, 68%);
        top: 26%;
        left: 2rem;
        font-weight: 700;

    }

    &__input:hover,
    &__input:focus {
        border-color: $Moderate-cyan;
        outline: none;
        cursor: pointer;
    }

    &__inner {
        display: flex;

        margin-bottom: 2rem;
        gap: 15px;
    }



    .disabled {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $Dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;


    }




}

@media screen and (max-width:550px) {

    .modal {

        &__inner {
            align-items: center;
        }



        .flex {
            flex-direction: column;
            align-items: flex-start;
        }

        &__sub-heading {
            position: absolute !important;
            left: 33px;
            bottom: 3px;
            display: none;
        }

        .modal-paragraph {
            margin-left: 0 !important;

        }

        &__input {
            height: 40px;
        }


        &__bottom {
            padding: 2rem 1rem;
        }
    }

    .submit-form {
        flex-direction: column;
        gap: 20px;
    }




}

.thanku-modal {


    &__content {
        width: 600px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        height: auto;

    }

    &__checkImg {
        display: inline-block;
        margin-bottom: 2rem;
    }


    &__header {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__paragraph {
        color: $Dark-gray;
        line-height: 30px;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width:663px) {
    .thanku-modal {
        width: 100%;
        padding: 0 2rem;

        &__content {
            width: 90%;
        }
    }

}

@media screen and (max-width:500px) {

    .thanku-modal {
        &__content {
            padding: 2rem;

        }

        &__header {
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }

        &__paragraph {
            color: $Dark-gray;
            line-height: 22px;
            margin-bottom: 2rem;
        }

    }


}