.modal {


    &__logo-box {
        text-align: right;
        cursor: pointer;

    }

    &__close-img {
        display: inline-block;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }


    &__heading {
        font-size: 2.2rem !important;

    }



    &__radio {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $Dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__radio::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: inherit;
        background-color: $Moderate-cyan;
    }

    .disabled {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $Dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;


    }


    &__column {
        border: 1px solid hsl(0, 0%, 88%);
        border-radius: 8px;
        margin-top: 2rem;
    }

    &__top {
        padding: 3rem;
        position: relative;

    }

    &__bottom {
        padding: 2rem;
        border-top: 1px solid hsl(0, 0%, 88%);
        // display: none;

    }

    .submit-form {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .btn-align {
        text-align: right;

    }


    &__sub-heading {
        font-size: 1.8rem !important;


    }

    &__btn {
        padding: 1.4rem 1rem !important;
        width: 100px !important;

    }

    &__text {
        color: $Dark-gray;
        font-size: 1.5rem;


    }

    &__form {
        display: inline-block;
        position: relative;
    }

    &__input {
        width: 100px;
        border-radius: 2.5rem;
        border: 1px solid hsl(0, 0%, 88%);
        padding: 0 3.2rem 0 3.2rem;
        height: 45px;
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 1rem;
    }

    &__form::before {
        content: '$';
        position: absolute;
        color: hsl(0, 0%, 68%);
        top: 26%;
        left: 2rem;
        font-weight: 700;

    }

    &__input:hover,
    &__input:focus {
        border-color: $Moderate-cyan;
        outline: none;
        cursor: pointer;
    }

    &__inner {
        display: flex;
        // align-items: flex-start;
        margin-bottom: 2rem;
        gap: 15px;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-grow: 1;





    }



    .modal-paragraph {
        margin-left: 3.7rem !important;
        font-size: 1.5rem;
    }




}

@media screen and (max-width:550px) {

    .modal {

        &__inner {
            align-items: center;
        }



        .flex {
            flex-direction: column;
            align-items: flex-start;
        }

        &__sub-heading {
            position: absolute !important;
            left: 33px;
            bottom: 3px;
            display: none;
        }

        .modal-paragraph {
            margin-left: 0 !important;
            // font-size: 1.2rem;
        }

        &__input {
            height: 40px;
        }


        &__bottom {
            padding: 2rem 1rem;
        }
    }

    .submit-form {
        flex-direction: column;
        gap: 20px;
    }




}